.extensions-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}
body {
    background-color: var(--bg-color);
    color: white;
    transition: background-color 0.3s, color 0.3s;
    font-family: "Noto Sans", sans-serif;
}

button {
    background-color: var(--button-bg);
    color: var(--text-color);
    border-radius: 16px;
    cursor: pointer;
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    border: none;
    font-size: 14px;
    padding: 4px 8px;
}
button:hover {
    background-color: var(--accent);
    color: black;
}
h3 {
    color: var(--h3-color);
    font-weight: 700;
}
h1 {
    color: var(--h1-color);
    font-weight: 700;
}
p {
    color: #bfc6d4;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    justify-content: space-between;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 8px;
    left: 4px;
    right: 4px;
    bottom: 8px;
    background-color: grey;
    transition: 0.4s;
    border-radius: 34px;
}
.slider::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: tomato;
}
input:checked + .slider::before {
    transform: translateX(26px);
}

.top-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 12px;
}

img{
    width: 120px;
    height: auto;
}
#theme-btn{
    background-color: var(--theme-btn-bg);
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    color: var(--theme-btn-color);
    font-size: 12px;
}
.inactive{
    opacity: 0.5;
}
:root {
    --bg-color: #050b21;
    --card-bg: #1f2535;
    --text-color: #ffffff;
    --button-bg: #2a324b;
    --accent: #ff6b6b;
    --header-bg: #1f2535;
    --h1-color: #ffffff;
    --h3-color: #ffffff;
    --theme-btn-bg: #2a3246;
    --theme-btn-color: #ffffff;
}
body.light-theme {
    --bg-color: #f5f7fa;
    --card-bg: #ffffff;
    --text-color: #1a1a1a;
    --button-bg: #ffffff;
    --accent: #ff6b6b;
    --header-bg: #ffffff;
    --h1-color: #1a1a1a;
    --h3-color: #1a1a1a;
    --theme-btn-bg: #bfc6d4;
    --theme-btn-color: #1a1a1a;
}
.icon{
    height: 40px;
    width: 40px;
}
.card-top{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 16px;
}
.card{
    background-color: var(--card-bg);
    padding: 10px;
    border: 1px solid #202636;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flick{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.text h3{
     margin: 0;
}
.text p{
    margin: 5px 0 0;
}
.filter-buttons{
  display: flex;
  gap: 12px;
}
.filter-active{
  padding: 8px 18px;
  border-radius: 20px;
  font-size: 14px;
  border: none;
  transition: all linear 0.2s;
}
.filter-all{
  padding: 8px 18px;
  border-radius: 20px;
  font-size: 14px;
  border: none;
  transition: all linear 0.2s;
}
.filter-inactive{
  padding: 8px 18px;
  border-radius: 20px;
  font-size: 14px;
  border: none;
  transition: all linear 0.2s;
}
header{
    padding: 16px 0;
    margin-bottom: 40px;
    background-color: var(--header-bg);
}
.container{
    width: 320px;
}
.header-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header,
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section{
    padding-bottom: 50px;
}
@media(min-width: 425px){
    .container{
        width: 420px;
    }
}
@media(min-width: 530px){
    .container{
        width: 530px;
    }
    .top-wrapper{
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
    }
}
@media(min-width: 780px){
    .container{
        width: 790px;
    }
    .extensions-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .top-wrapper{
       flex-direction: row;
        gap: 0;
        justify-content: space-between; 
        font-size: 11px;
    }
}
@media(min-width: 850px){
    .container{
        width: 850px;
    }
    .extensions-grid{
        gap: 20px;
    }
    .top-wrapper{
       flex-direction: row;
        gap: 0;
        justify-content: space-between; 
        font-size: 11px;
        margin-bottom: 28px;
    }
}
@media(min-width: 1024px){
    .container{
        width: 1000px;
    }
    .extensions-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .top-wrapper{
       flex-direction: row;
        gap: 0;
        justify-content: space-between; 
        font-size: 11px;
    }
}
@media(min-width: 1200px){
    .container{
        width: 1200px;
    }
    .header-wrapper{
        flex-direction: row;
        justify-content: space-between;
    }
}
@media(min-width: 1400px){
    .container{
        width: 1400px;
    }
}
@media(min-width: 1520px){
    .container{
        width: 1520px;
    }
}
@media(min-width: 1700px){
    .container{
        width: 1700px;
    }
    .extensions-grid{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media(min-width: 1920px){
    .container{
        width: 1920px;
    }
    .extensions-grid{
        grid-template-columns: repeat(4, 1fr);
    }
}